html{font-family:Trebuchet MS,sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
footer{display:block;}
a{background:transparent;}
a:active,a:hover{outline:0;}
b,strong{font-weight:bold;}
h1{font-size:2em;margin:0.67em 0;}
img{border:0;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
pre{overflow:auto;}
pre{font-family:monospace, monospace;font-size:1em;}
button,input{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button,input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
input[type="checkbox"]{box-sizing:border-box;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
td{padding:0;}

.wrapper {background-color: #fff;}
#wrapperMain {padding-top:10px;}

@media print{
*{text-shadow:none!important;color:#000!important;background:transparent!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
pre{border:1px solid #999;page-break-inside:avoid;}
tr,img{page-break-inside:avoid;}
img{max-width:100%!important;}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
.navbar{display:none;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
/*html{font-size:62.5%;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}*/
body{font-family:'Poppins','Source Sans Pro',Trebuchet MS, sans-serif;font-size:14px;line-height:1.42857143;background-color:#262626;}
input,button{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:hover,a:focus{color:#337ab7;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
.img-responsive{display:block;max-width:100%;height:auto;}
hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eeeeee;}
.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
h1,h2,h3,h4{font-family:'Poppins','Ubuntu',Trebuchet MS, sans-serif;font-weight:300;line-height:1.1;color:inherit;}
h1,h2,h3{margin-top:20px;margin-bottom:20px;}
h4{margin-top:10px;margin-bottom:10px;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:18px;}
p{margin:20px 0 10px 0;}
.modal-body p {margin:10px 0 10px 0;}
h2.modal-title  {margin-top:0px;}
h3.popover-header {margin-top:0;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-muted{color:#222222;}
ul{margin-top:0;margin-bottom:10px;}
ul ul{margin-bottom:0;}
pre{font-family:Menlo, Monaco, Consolas, "Courier New", monospace;}
pre{display:block;padding:9.5px;margin:0 0 10px;font-size:13px;line-height:1.42857143;word-break:break-all;word-wrap:break-word;color:#333333;background-color:#f5f5f5;border:1px solid #cccccc;border-radius:4px;}

#loginBox {font-family:Segoe UI,Arial;max-width:500px;margin:auto;padding:60px;margin-top:25px;border-radius:16px;background-color: #ffffff;box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);}
#loginBox td {padding-bottom:10px;}

#group-select {font-size:18px !important;}

.info {
    color: #888;
    font-style: italic;
}

@media (min-width: 992px){
.container{width:970px;}
}

@media (min-width: 1200px){
.container{width:1030px;}
}
.row{margin-left:-15px;margin-right:-15px;}
.col-sm-3,.col-md-4,.col-sm-6,.col-md-6,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px;}

@media (max-width: 767px) {
	.col-xs-12{float:left;}
	.col-xs-12{width:100%;}
}

@media (min-width: 768px and max-width: 991px){
.col-sm-3,.col-sm-6,.col-sm-12{float:left;}
.col-sm-12{width:100%;}
.col-sm-6{width:50%;}
.col-sm-3{width:25%;}
}

@media (min-width: 992px){
.col-md-4,.col-md-6,.col-md-12{float:left;}
.col-md-12{width:100%;}
.col-md-6{width:50%;}
.col-md-4{width:33.33333333%;}
}

@media (min-width: 1200px){
.col-lg-12{float:left;}
.col-lg-12{width:100%;}
}
table{max-width:100%;background-color:transparent;}
input[type="checkbox"]{margin:4px 0 0;margin-top:1px \9;line-height:normal;}
input[type="checkbox"]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555555;background-color:#ffffff;background-image:none;border:1px solid #e4e4e4;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 10px rgba(0, 0, 0, 0.175);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 10px rgba(0, 0, 0, 0.175);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 10px rgba(0, 0, 0, 0.175);-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.form-control:focus{border-color:#d0d0d0;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(208, 208, 208, 0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(208, 208, 208, 0.6);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(208, 208, 208, 0.6) 0 10px rgba(0, 0, 0, 0.175);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(208, 208, 208, 0.6) 0 10px rgba(0, 0, 0, 0.175);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(208, 208, 208, 0.6) 0 10px rgba(0, 0, 0, 0.175);}
.form-control::-moz-placeholder{color:#999999;opacity:1;}
.form-control:-ms-input-placeholder{color:#999999;}
.form-control::-webkit-input-placeholder{color:#999999;}
.btn{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn:focus,.btn:active:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:hover,.btn:focus{color:#333333;text-decoration:none;}
.btn:active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125) 0 10px rgba(0, 0, 0, 0.175);-moz-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125) 0 10px rgba(0, 0, 0, 0.175);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125) 0 10px rgba(0, 0, 0, 0.175);}
.btn-default{color:#333333;background-color:#ffffff;border-color:#cccccc;}
.btn-default:hover,.btn-default:focus,.btn-default:active{color:#333333;background-color:#ebebeb;border-color:#adadad;}
.btn-default:active{background-image:none;}
.btn-primary{color:#ffffff;background-color:#337ab7;border-color:#2e6da4;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{color:#ffffff;background-color:#286090;border-color:#204d74;}
.btn-primary:active{background-image:none;}
.btn-success{color:#ffffff;background-color:#5cb85c;border-color:#4cae4c;}
.btn-success:hover,.btn-success:focus,.btn-success:active{color:#ffffff;background-color:#47a447;border-color:#398439;}
.btn-success:active{background-image:none;}
.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px;}
.btn-sm{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px;}
.btn-xs {padding: 1px 5px;font-size: 12px;line-height: 1.5; border-radius: 3px;}
/*.collapse{display:none;}*/
.caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px solid;border-right:4px solid transparent;border-left:4px solid transparent;}
.dropdown{position:relative;}
.dropdown-toggle:focus{outline:0;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;list-style:none;font-size:14px;background-color:#ffffff;border:1px solid #cccccc;border:1px solid rgba(0, 0, 0, 0.09);border-radius:4px;-webkit-box-shadow:0 5px 15px rgba(0, 0, 0, 0.3);box-shadow:0 5px 15px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 5px 15px rgba(0, 0, 0, 0.3) 0 5px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 5px 15px rgba(0, 0, 0, 0.3) 0 5px rgba(0, 0, 0, 0.3);box-shadow:0 5px 15px rgba(0, 0, 0, 0.3) 0 5px rgba(0, 0, 0, 0.3);background-clip:padding-box;}
.dropdown-menu > li > a{display:block;padding:7px 30px 7px 10px;clear:both;font-weight:normal;line-height:1.42857143;color:#333333;white-space:nowrap;border-bottom:1px solid #eee;}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{text-decoration:none;color:#333333;background-color:#f6f6f6;}

#leagueName {display:none;}


.carousel{position:relative;}
.carousel-inner{position:relative;overflow:hidden;width:100%;}
.carousel-inner > .item{display:none;position:relative;-webkit-transition:0.6s ease-in-out left;transition:0.6s ease-in-out left;}
.carousel-inner > .active{display:block;}
.carousel-inner > .active{left:0;}
.container:before,.container:after,.row:before,.row:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after{content:" ";display:table;}
.container:after,.row:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after{clear:both;}
.pull-right{float:right!important;}

@media (max-width: 767px){
.hidden-xs{display:none!important;}
}
@media (min-width: 768px) and (max-width: 991px){
.hidden-sm{display:none!important;}
}
@media (min-width: 992px) and (max-width: 1200px){
.hidden-md{display:none!important;}
}
@media (min-width: 1201px){
.hidden-lg{display:none!important;}
}

.delay-2{-webkit-animation-delay:600ms;-moz-animation-delay:none;animation-delay:600ms;}
.first-child{margin-top:0;}
.btn-main,.btn-main:hover{color:#fff!important;}
.btn-lg{font-size:14px;border-radius:4px;}
.btn-main{background:#3366cc;background-image:-webkit-linear-gradient(top, #3366cc 0%, #003399 100%);background-image:-moz-linear-gradient(top, #3366cc 0%, #003399 100%);background-image:-o-linear-gradient(top, #3366cc 0%, #003399 100%);background-image:linear-gradient(top, #3366cc 0%, #003399 100%);border-color:#003399;}
.btn-main:hover,.btn-main:focus,.btn-main:active{background:#003399;background-image:none;border-color:#003399;}

.dropdown-menu{padding:0;/*-webkit-box-shadow:0 3px 6px rgba(0, 0, 0, 0.175);box-shadow:0 3px 6px rgba(0, 0, 0, 0.175);*/}
.open > .dropdown-menu {  display: block;}



.menu-container .dropdown-menu {left:inherit;right:0;}
	
#login-panel .title {font-family:Arial;color:#247145;text-align:center;margin-top:10px;}
#login-panel .content {padding: 9px 14px;}
#login-panel .control {clear:both;margin-bottom:10px;}
#login-panel .button .btn {clear:both;margin-top:10px;width:100%;}
#login-panel .loginHelp {margin-top:15px;text-align:Center;}
#login-panel .persistantLogin {margin-top:15px;text-align:Center;display:none;}



.promo {color:#ffffff;margin:10px 0 20px 0;font-weight:normal;font-size:18px}
.carousel-inner .btn-lg {margin-top:10px;}
.logo-container {float:left;max-width:300px;padding-top:7px;} 

.home-slider{margin-top:-30px;}
.home-slider .carousel-inner {color:#fff;}
.home-slider .carousel-inner h1 {color:#fff; }
.home-slider .carousel-inner h4 {color:#fff;}
.home-slider .carousel-inner .text-muted {color:#fff;}
.home-slider .carousel-inner > .item{padding:80px 0 0;height:490px;overflow:hidden;/*background-color:#f6f6f6;*/background-repeat:no-repeat;background-position:center center;background-size:cover!important;}
@media(max-width:767px) {
	.home-slider .carousel-inner > .item{height:450px !important;}
	.item .btn-lg {margin-top:10px;}
	.promo {font-size:17px;}
	
}
/*/assets/Themes/Paperclip/img/banners/golfDawn80_optimized.jpg*/
#item-1 {background-image: url(/assets/Themes/Paperclip/img/banners/hockey.jpg); background-position: bottom center;}

  .imac {
	background-image:url(/assets/themes/paperclip/img/imac-crop2.png);
	height: 435px;
	width:375px;
  }

footer{padding:20px 0;background:#ffffff;text-align:center;font-size:13px;color:#666;}

footer {border-top: solid 1px #ddd;}
#footerMain {text-align:center;margin-top:20px;}
#footerMain .links {font-size:12px;padding-bottom:10px;}
#footerMain .links a {padding-left:5px;padding-right:5px;text-decoration: underline}

@media (min-width: 992px){
	.wrapper {min-height: 100%; height: auto !important; height: 100%;}
	footer {height:166px;}
}
